# Secrets
.env
*.env

# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/
*.egg-info/
dist/
build/

# Data / model files
*.pkl
*.pt
*.h5
*.onnx
readings.db
data/calcofi/
splats.json

# macOS
.DS_Store

# Sphinx / notebooks
docs/build/
.ipynb_checkpoints/
# macOS and Python clutter
.DS_Store
__pycache__/
*.pyc

# large local raw datasets
data/CalCOFI_Database_194903-202105_csv_16October2023.zip
data/CalCOFI_Database_194903-202105_csv_16October2023/
